{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <div class='section'>
        <h5 id='telegram-group-link'>How to get Telegram group link</h5>
        <ol style='font-size: 1.2em'>
             <li>Go to <a href='https://web.telegram.org'>Telegram Web</a></li>
             <li>Login, if you haven't done it yet</li>
             <li>Open group where you want to get notifications</li>
             <li>Copy URL from address bar in your browser</li>
             <li>You've got the link!</li>
        </ol>
    </div>
    <div class='section'>
        <h5 id='after-entering-group-link'>Next steps after entering group link</h5>
        <ol style='font-size: 1.2em'>
            <li>Add <mark>@brobots_school_bot</mark> to your group</li>
            <li>Give admin rights to the bot in your group</li>
            <li>You're ready to go!</li>
        </ol>
    </div>
</div>
{% endblock %}
